<!--The content below is only a placeholder and can be replaced.-->
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <h2>Push a button to turn ON / OFF</h2>

  <div class="wrapper"></div>
    <div>
      <div class="switches" *ngFor="let switch of switches; let idx = index">
        
          <button
          *ngIf='switch'
          [ngClass]="{'on': switch}"
          (click)='onSwitch(idx)'>ON
          </button>

          <button
          *ngIf='!switch'
          [ngClass]="{'on': switch}"
          (click)='onSwitch(idx)'>OFF
          </button>
        
      </div>
    </div>
  </div>

